
body {
  display: block;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.header-text {
  color: MediumAquamarine;
  padding-left: 15px;
}

.nav li {
  display: inline-flex;
  padding: 10px;
}

.nav a {
  color: black;
}
.nav {
  display: flex-inline;
  justify-content: flex-end;
  padding: 40px;
}

.main-container {
  display: flex;
  width: 1232px;
  background color: white;
  margin: 0 auto 78px auto;
  padding-top: 120px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}



.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}


.featured-img-text {
  color: white;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

.column h2 {
  text-align: center;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

/* First News Column */

.main-story {
  display: flex;
  flex-direction: column;
}

.jumbo-tron {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
    height: 240px;
    width: 630px;

}


.column.large {
  width: 630px;
}



.jumbo-tron-text {
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}


.narrative-main {
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.story-column {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.story-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.story {
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

.square-thumb {
    height: 300px;
    display: flex;
    align-items: center;
}

.earth {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.camera {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.cat {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.square-thumb-text {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}


.ad-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ad-row {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 10px;
}

.footer {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: MediumAquamarine;
margin: auto;
font-family: Verdana;
font-size: 12px;
width: 100%;
top: 170px;
position: relative;
height: 200px;
}

.footer-logo {
  font-family: Georgia;
font-size: 16px;
font-weight: bold;
color: white;
}

.footer a {
  padding: 10px;
  color: black;
}

.credit-line {
  display: block;
}
